.vs
*.png
*.fbx
*.tvg
*.jpg
*.tmp
*.exe
*.meta
*.exp
*.pdb
*.ipdb
*.iobj
*.ini
*.zip
*.hdr
*.log
*.vcxproj.user
*.user
*.rtf
*.cache
*.tlog
*.recipe
*.ilk
*.obj
*.mtl
*.glb
*.wad*
*.json
*.tr*
*.mat
*.wav
*.sfx
*.prefab
TombVG.lib
build/
TombVG/resources/